<ion-content>
  <ion-grid>
    <ion-row>
      
      <ion-col size="12">
        <ion-text   color="light" 
                    class="ion-text-capitalize ion-float-right ion-margin"
                    [routerLink]="['/find-friends']"
                    >
                    skip
        </ion-text>
      </ion-col>

      <ion-col size="12" class="ion-text-center mt-3">
        <ion-text color="light">Select a profile pic</ion-text>
      </ion-col>

      <ion-col size="12" class=" ion-text-center mt-5">
        <div class="upload-pic-div">
          <ion-icon name="add"   color="darks"></ion-icon>
        </div>
      </ion-col>

      <ion-col size="12" class="bio-text ion-text-center mt-4">
        <ion-text class="ion-text-capitalize">your bio</ion-text>
      </ion-col>

      <ion-col size="12" class="ion-margin mt-3">
            <textarea rows="7" cols="20"></textarea> 
      </ion-col>

      <ion-col class="next-button ion-text-center" size="12">
        <ion-button size="large" 
                    shape="round" 
                    color="light"  
                    class="social-media-button"
                    [routerLink]="['/find-friends']"
                    >
                    <ion-text color="dark" class="ion-text-capitalize">
                      next
                    </ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
