ion-content {
    --ion-background-color: #000000;

    .app-logo-text-row {

        margin-bottom: -30px;
        .app-logo-text {
            font-size: 25px;
        }
    }

    ion-item {
        --border-color: #909397; // default underline color
        --highlight-background: #198754 !important;
        //--highlight-color-invalid: red; // invalid underline color
        //--highlight-color-valid: green; // valid underline color

        ion-input{
            --placeholder-color: #909397;
            --placeholder-opacity: 1;
            color: #ffffff;
        }
    }

    .text-color {
        color: #909397;
    }
    
    .signup-button {
        --border-radius: 18px;
        width: 82%;
        margin-left: 5%;
    }

    .text-size {
        font-size: 13px;
    }

    ion-checkbox{
        background: #FFFFFF;
        border-width: 1px !important;
        border-style: solid !important;
        border-radius: 4px;
        border-color : #909397 !important;
        --height : 25px;
        --width: 25px;
        --checkmark-color:white;
        --background-checked: #909397;
        --border-color: #909397;
        --border-color-checked :#909397;
    }

    .terms_condition {
        margin-left: 10px;
    }

    .middle {
        margin-bottom: -5px;
        margin-top: -6px;
    }

    .social-icon-div{
        margin-top: -10px;
    }

    .social-logo {
        font-size: 30px;
    }
}