ion-content {
    --ion-background-color: #000000;

    .app-logo-text-row {

        margin-bottom: -30px;
        .app-logo-text {
            font-size: 25px;
        }
    }

    ion-item {
        --border-color: #909397; // default underline color
        --highlight-background: #198754 !important;
        //--highlight-color-invalid: red; // invalid underline color
        //--highlight-color-valid: green; // valid underline color

        ion-input{
            --placeholder-color: #909397;
            --placeholder-opacity: 1;
            color: #ffffff;
        }
    }

    .text-color {
        color: #909397;
    }
    
    .login-button {
        --border-radius: 18px;
        width: 76%;
        margin-left: 12%;
    }

    .forgot-text {
        font-size: 13px;
    }
}