<ion-content>
  
  <ion-grid class="mt-4">
    
    <app-logo></app-logo>

      <ion-row>
        <ion-col size=12>
         
            <ion-item>
              <ion-input 
                        placeholder="E-mail or Username" 
                        clearInput>
              </ion-input>
            
            </ion-item>
          
        </ion-col>
      </ion-row>

      <ion-row class="mt-4">
        <ion-col size="2"></ion-col>
        <ion-col size="8">
          <div class="ion-text-center">
            <ion-button 
                        expand="block" 
                        color="light" 
                        class="login-button ion-text-capitalize">
              <ion-text class="ion-text-capitalize" color="dark">reset password</ion-text>
            </ion-button>
          </div>
          
          <div class="ion-text-center mt-1">
            <ion-text class="forgot-text text-color" >Go back to </ion-text>
            <ion-text class="forgot-text ion-text-capitalize" color="light" [routerLink]="['/welcome']">home</ion-text>
            
          </div>

          
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>

  </ion-grid>
</ion-content>